body {
    font-family: Arial, sans-serif;
    background-image: url(/images/background.jpg);
    background-color: #2F2D2D;
 background-repeat: no-repeat;
background-size: 100% 150%;}
.rockets{
    display: flex;
    margin-top: 1%;
    

}
p{
    color: white;
    font-size: 25px;
}
.white-rocket{
    width: 500px;
    height:500px;
}
.brown-rocket{
    width: 500px;
    height: 500px;
    margin-right: 50px;
}
.rocket{
    width: 500px;
    height: 500px;
}
.div1{
    width: 1300px;
}
.description{
    font-size: 15px;
    color: white;
    margin-bottom: 5%;
}
.buttons{
    display: flex;
    gap: 60%;
    border-radius: 0px;
    height: 30px;
    
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color: rgb(130, 124, 124);
    border-radius: 20px;
    width: 150px;
    height: 5vh;
    margin-left: 80%;
}
.buttonText{
    margin-left: 15%;
}
h1{
    color: white;
    margin-left: 31%;
}
b{
    font-size: large;
}
.back-button{
    margin-right: 110%;
}
.btn{
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 4px;
}
span{
    color: white;
    font-size: medium;
    height: 100px;
    
}
img{
    border-radius: 10%;
}