body {
   font-family: Arial, sans-serif;
   background-color: #2F2D2D;
   margin: 5%;
   padding: 0;
   background-image: url(images/background.jpg);
   background-repeat: repeat;
   color: aliceblue;
}
  
 img{
   margin-left: 10%;
    height: 600px;
    width: 800px;
    transform: rotate(60deg);
 }
 .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
 }
 .landing-page{
 
 
    display: flex;
 }
 h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #fff;
    font-size: 50px;
    margin-top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 
 h3{
    color: white;
    margin-top: 30%;
    justify-content: center;
    font-size: xx-large;
 }
 p{
    color: white;
    margin-top: 10%;
    font-size: 20px;
 }
 button{
    background-color: rgb(246, 243, 243);
    border-radius: 17px;
    height: 7%;
    width: 25%;
    margin-top: 22%;
    margin-left: 20%;
    font-size: 10px;
    color: black;
  
  
 }
 a{
    text-decoration: none;
   color: rgb(12, 12, 12);
  
 }
 .launch {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
 .launch h3 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
 }
 .launch p {
    margin: 5px 0;
 }
  